/* =====================================================================
   BASE
   ===================================================================== */

html {
    color: #222;
    font-family: 'Open Sans' sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

img {
    width: 100%;
}

h1 {
    color: #000;
}

.logo-name {
    color: dodgerblue;
}

p {
    text-align: center;
    font-size: 14px;
}

h4 {
    text-align: center;
}

/* =====================================================================
   LAYOUT
   ===================================================================== */
/* div, section, footer, header {
    border: 1px solid #ccc;
} */

.column {
    position: relative;
   /* background-color: rgb(243, 222, 194);
    margin: 1rem;*/
}

.heading {
text-align: center;
font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
}

.tagline {
    margin-top: -0.8rem;
    font-size: 0.7rem;
    text-align: center;
    color: rgba(128, 128, 128);
}
.row {
    display: grid;
    row-gap: 1rem;
    margin: 0 1rem 3rem 1rem;
}
.row-no-margin {
    margin-bottom: 0 !important;
}
.logo {
    max-height: 2.5rem;
    position: absolute;
    bottom: 0;
}

/* Main nav - mobile */
.main-nav {
    display: none;
    flex-direction: column;
    align-items: center;
}
.main-nav--item {
    display: block;
    position: relative;
    width: 100%;
    padding: 1rem 1rem 1rem 100%;
    font-size: 1.3rem;
    text-decoration: none;
    text-align: left;
    color: white;
    line-height: 4rem;
    background-repeat: no-repeat;
    background-position-x: 44%;
    background-position-y: center;
    background-size: 3.1rem, 1.7rem;
}
.main-nav--item::after {
    content: ">";
    display: inline-block;
    position: absolute;
    right: 1rem;
}
.main-nav--item.actice::after {
    content: "";
}

.herman {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 100px;

}
/* Small only */
@media screen and (max-width: 39.9375em) {
    .s-hide {
        display: none;
    }
    .s-show {
        display: flex;
    }
    .logo {
        max-height: 3rem;
        position: static;
    }
    .main-nav--item::after {
        display: inline-block;
        position: static;
        padding-left: 1rem;
    }
    .mobile-nav {
        position: absolute;
        right: 1rem;
        top: 0rem;
        z-index: 1;
        font-size: 0rem;
        padding: 1.5rem;
        background-image: url(img_icon_bars.svg);
        background-repeat: no-repeat;
        background-size: 1.8rem;
        background-position: center center;
        background-color: #2a6eeb;
    }
}
    

/* Medium and up */
@media screen and (min-width: 40em) {
    .row {
        width: 85vw;
        max-width: 70rem;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        margin: 0 auto 3rem auto;
    }
    .sub-grid {
        display: grid;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
    }
    .m-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .m-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .m-col-4 {
        grid-template-columns:repeat(4, 1fr);
    }
    .m-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .m-1-2 {
       grid-template-columns: 1fr 2fr;
    }
    .row-span {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
    }
    .main-nav--item {
        padding: 4rem 1rem 0rem 0.5rem;
        line-height: 2rem;
        font-size: 0.8rem;
        text-align: left;
        background-color: rgb(184, 184, 184);
        background-position-x: center;
        background-position-y: center;
        background-size: 2.3rem, 1.4rem;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and
(max-width: 63.9375em) {
    .special-project {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .m-hide {
        display: none;
    }
    .special-project img {
        max-height: 20rem;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .l-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .l-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .l-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .l-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .l-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .l-hide {
        display: none;
    }
}

/* Large only */
@media screen and (min-width: 64em) and
(max-width: 74.9375em) {
}

/* =====================================================================
   MODULES
   ===================================================================== */
.page--slider {
    background-color: rgb(230, 230, 230);
}
.page--slider img {
    height: 25vh;
}
.project {
    position: relative;
    margin: 0;
}
.project--caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128);
}

/* =====================================================================
   THEME
   ===================================================================== */
.page--footer{
    background-color: #222;
    background-image: url(Colorline-bottom.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.page--footer .row{
    background-image: url(Colorline-bottom.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 2rem;
}
.inverted {
    color: white;
}

/*color & icons*/
.main-nav--item:nth-child(1) {
    background-color: #25c389;
    background-image: url(img_icon_circle.svg), url(img_icon_bullhorn.svg);
}
.main-nav--item:nth-child(2) {
    background-color: #ffb901;
    background-image: url(img_icon_circle.svg), url(img_icon_bullhorn.svg);
}
.main-nav--item:nth-child(3) {
    background-color: #de6262;
    background-image: url(img_icon_circle.svg), url(img_icon_bullhorn.svg);
}

.main-nav--item:nth-child(4) {
    background-color: #1691bd;
    background-image: url(img_icon_circle.svg), url(img_icon_bullhorn.svg);
}

.main-nav--item:nth-child(5) {
    background-color: #166ba2;
    background-image: url(img_icon_circle.svg), url(envelope.svg);
}

